/** {
  border: 1px black solid;
}*/

p {
  color: red;
}

.nav-wrapper {
  background-color: #212121;
}

.userlogin {
  background-color:black;
}

#home1 {
  background-image:url('/images/business1.jpg');
  background-position: center;
  background-size: cover;
  display: inline;
  min-height: 800px;
}

#home2 {
  background-image:url('/images/user1.jpg');
  background-position: center;
  background-size: cover;
  min-height: 800px;
}

#herobutton {
    background-color: #8bc34a;
    margin: 300px -50px;
    position:relative;
    top:50%;
    left:50%;
    border-radius: 10px;
}
