/** {
  border: 1px black solid;
}*/

p {
  color: red;
}

.nav-wrapper {
  background-color: #212121;
}

.userlogin {
  background-color:black;
}

.userpagelogin {
  background-image:url('/images/userlogin.jpg');
  background-position: center;
  background-size: cover;
  min-height: 800px;
}

.restpagelogin {
  background-image:url('/images/restloginpage.jpg');
  background-position: center;
  background-size: cover;
  min-height: 800px;
}

.brandlogo {
  font-family: 'Josefin Slab', serif;
  text-decoration: none;
}

/* 3 icons on dashboard */
.promotion{
  margin: 100px;
  text-align: center;
}

#home1 {
  background-image:url('/images/business1.jpg');
  background-position: center;
  background-size: cover;
  display: inline;
  min-height: 800px;
}

#home2 {
  background-image:url('/images/user1.jpg');
  background-position: center;
  background-size: cover;
  min-height: 800px;
}

/* buttons on home pages*/
#herobutton {
    background-color: #8bc34a;
    margin: 300px -50px;
    position:relative;
    top:50%;
    left:50%;
    border-radius: 10px;
}

/*spaces card from top*/
#logins {
  padding-top: 70px;
}

#sidenav {
  color:white;
  background-color: #424242;
  min-height: 750px;
  border: 1px solid black;
  padding: 10px;
}

#sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2.2em;
    color: rgb(220, 220, 220);
    display: block;
}

#sidenav a:hover {
  text-decoration: none;
    color: black;
    background-color: #2196f3;
}

/*button inside of rest dashboard*/

#addbutton {
    background-color: #8bc34a;
    /*margin: 300px -50px;*/
    position:relative;
    /*top:50%;
    left:50%;*/
    border-radius: 10px;
}

#dashicon {
  color: #e57373;
}
