<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">&nbsp;mealMatch</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="restaurants">Restaurants</a></li>
      <li><a href="/">Support</a></li>
      <li><a href="/">Log Out</a></li>
    </ul>
  </div>
</nav>

  <div class="row">
        <div class="col s11 m4 l2" id="sidenav">
          <a href="dashboard" ng-click="dashboard = true">Dashboard</a>
          <a href="#" ng-click="orders = true" >Orders</a>
          <a href="#">Update</a>
          <a href="#">Coupons</a>
          <a href="#">Reports</a>
          <a href="#">Settings</a>
          <a href="rest_add">Add</a>
          <a href="#">Impact</a>
          <hr>
          <h5>&nbsp;&nbsp;Our Partners</h5>
          <hr>
          <a href="https://www.sfmfoodbank.org "><img src="images/sfmfb-logo.png" id="foodbank"/></a>

        </div>
      </div>
