<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">&nbsp;mealMatch</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="restaurants">Restaurants</a></li>
      <li><a href="/">Support</a></li>
    </ul>
  </div>
</nav>


<div class="userpagelogin">
  <div class="row" id="logins">
       <div class="col s6 offset-s3">
         <div class="card grey darken-1">
           <div class="card-content white-text">

             <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                  </div>
                </div>
              </form>
            </div>

           <div class="card-action">
             <a href="restaurants">Sign Up!</a>
             <a href="/">Cancel</a>
           </div>
         </div>
       </div>
     </div>
   </div>
</div>
