<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">&nbsp;mealMatch</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="restaurants">Restaurants</a></li>
      <li><a href="about">About</a></li>
      <li><a href="collapsible.html">Contact</a></li>
    </ul>
  </div>
</nav>

<div class="row">
    <div class="col s6" id="home1">
      <a ng-href="rest_signup" class="waves-effect waves-light btn-large" id="herobutton"><i class="material-icons left">receipt</i>FEED</a>
    </div>

    <div class="col s6" id="home2">
        <a ng-href="user_signup" class="waves-effect waves-light btn-large" id="herobutton"><i class="material-icons right">supervisor_account</i>GET FED</a>
      </div>
    </div>

  </div>
