<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">&nbsp;mealMatch</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="restaurants">Restaurants</a></li>
      <li><a href="/">Support</a></li>
      <li><a href="/">Log Out</a></li>
    </ul>
  </div>
</nav>

<div class="row">

      <div class="col s12 m4 l3">
          <h5>Dashbard</h5>
          <h5>Orders</h5>
          <h5>Coupons</h5>
          <h5>Reports</h5>
          <h5>Settings</h5>
      </div>

      <div class="col s12 m8 l9"> 

      </div>

    </div>
